@import '../../../styles/variables';

.container {
	display: flex;
	flex-direction: column;
	position: relative;

	.loader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 130px;
		height: 130px;
		margin: auto;
	}

	.productsContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		> div {
			margin: 12px 0;
			width: 510px;
		}
	}

	.controlsContainer {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: auto;
		padding: 10px 20px 0;

		.listPageControl {
			width: 88px;
			height: 88px;
			border-radius: 100%;
			background-color: $color-black;
			transition: opacity $transition-duration;
			opacity: .8;

			&:disabled {
				opacity: .3;
			}

			.listPageControlIcon {
				width: 18px;
				margin: auto;

				svg {
					fill: #fff;
				}
			}
		}

		.listPager {
			position: absolute;
			top: 10px;
			bottom: 0;
			left: 0;
			right: 0;
			width: 1010px;
			height: 6px;
			margin: 40px auto 0;
			border-radius: 10px;
			overflow: hidden;
			background-color: $color-gray2;
			transition: margin $transition-duration $transition-easing;

			.listPagerThumb {
				position: absolute;
				top: 0;
				height: 100%;
				background-color: $color-yellow;
				transition: left $transition-duration $easing-easeOutQuart;
			}
		}

		.compareListPage {
			margin-top: 8px;
		}
	}
}
