@keyframes bounce {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(-15%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.02, 1.02, 1.02);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(5%);
	}

	80% {
		transform: translateY(0);
	}

	100% {
		opacity: 1;
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	80% {
		transform: translateX(0);
	}

	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	80% {
		transform: translateX(100%);
	}

	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
