/*
	Azul 1: #1A75CB
	Azul 2: #1E70B6
	Amarillo: #F9B730
	Negro: #333333
	Gris 1: #F0F4FA
	Gris 2:#D9D9D9
	Gris 3: #AFAFAF
	Verde: #76C143
	Rojo: #E81C24
 */

$color-blue: #1A75CB;
$color-blue2: #1E70B6;
$color-yellow: #F9B730;
$color-black: #333;
$color-gray: #F0F4FA;
$color-gray2: #D9D9D9;
$color-gray3: #AFAFAF;
$color-green: #76C143;
$color-red: #E81C24;
