@import 'variables';
@import 'animations';

.ReactModal {
	&__Overlay {
		z-index: 10;

		&--after-open {
			animation: fadeIn $transition-duration $transition-easing;
		}

		&--before-close {
			animation: fadeOut $transition-duration $transition-easing forwards;
		}
	}
}
