.category {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 15px 0;

	.categoryIcon {
		width: 70px;
	}

	.categoryLabel {
		width: 80%;
		font-size: 14px;
		font-weight: 600;
		margin-top: 6px;
	}
}
