@import '../../../../styles/variables';

.sidebar {
	width: 130px;
	position: relative;
	z-index: 1;
	background-color: #fff;

	.divider {
		margin: 124px auto 0;
		width: 50px;
		height: 1px;
		background-color: $color-gray2;
	}

	.title {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1px;
		text-align: center;
		margin-top: 15px;
	}

	.categories {
		display: flex;
		flex-direction: column;
		padding: 0 12px;
		margin-top: 50px;
	}

	.categoryLink {
		text-align: center;
		color: $color-black;
		margin: 5px 0;
	}

	.activeCategoryLink {
		> div {
			background-color: $color-gray;
		}
	}
}
