@import '../../../../styles/variables';

.form {
	padding-top: 72px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logisticsInfo {
	display: flex;
	flex-direction: column;
	align-items: center;

	.submitContainer {
		justify-content: space-between;
	}
}

.logisticsInfoTitle {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: .5px;
	line-height: 1;
	color: $color-black;
	margin-top: 33px;
}

.fields {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 982px;
}

.postalCode,
.number,
.complement {
	width: 150px;
}

.street,
.state,
.city,
.receiverName {
	width: 480px;
}

.shippingOptions {
	display: flex;
	margin-top: 17px;
}

.shippingOption {
	position: relative;
	display: flex;
	align-items: center;
	width: 358px;
	height: 88px;
	margin: 0 13px;
	background-color: #fff;
	border: 1px solid $color-gray;
	border-radius: 5px;
	padding: 0;

	&:after {
		content: "";
		position: absolute;
		height: 1px;
		width: 80px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background-color: $color-yellow;
		transition: opacity $transition-duration $transition-easing;
	}

	.shippingOptionIcon {
		width: 60px;
		margin: 0 34px 0 25px;
		opacity: .4;
		transition: opacity $transition-duration $transition-easing;

		svg {
			fill: $color-black;
		}
	}

	.shippingOptionLabel {
		font-size: 20px;
		font-weight: 700;
		color: $color-black;
		letter-spacing: .5px;
		color: $color-black;
		opacity: .4;
		transition: opacity $transition-duration $transition-easing;
	}
}

.shippingOptionActive {
	border-color: $color-yellow;

	&:after {
		opacity: 0;
	}

	.shippingOptionIcon {
		opacity: 1;
	}

	.shippingOptionLabel {
		opacity: 1;
	}
}

.shippingSchedule {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-top: 2px solid $color-gray;
	margin-top: 22px;
	padding-top: 34px;
}

.shippingDate {
	display: flex;
	flex-direction: column;
	width: 386px;
}

.shippingWindow {
	display: flex;
	flex-direction: column;
	width: 495px;
}

.shippingDateTitle,
.shippingWindowTitle {
	display: flex;
	justify-content: center;
	align-items: center;

	.shippingDateTitleIcon,
	.shippingWindowTitleIcon {
		width: 27px;
		margin-right: 12px;

		svg {
			fill: $color-blue;
		}
	}

	.shippingDateTitleLabel,
	.shippingWindowTitleLabel {
		font-size: 19px;
		font-weight: 600;
		color: $color-black;
		letter-spacing: .5px;
	}
}

.datePicker {
	display: flex;
	margin-top: 22px;
}

.deliveryWindows {
	display: flex;
	flex-direction: column;
	margin-top: 22px;
}

.deliveryWindow {
	display: flex;
	justify-content: space-between;
	height: 62px;
	width: 100%;
	border: 1px solid $color-gray2;
	padding: 0 16px 0 22px;
	background-color: #fff;
	border-radius: 50px;
	transition: border $transition-duration $transition-easing;

	.deliveryWindowLabel {
		font-size: 19px;
		color: #808080;
		transition: color $transition-duration $transition-easing;
	}

	.deliveryWindowRadio {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		height: 25px;
		background-color: #fff;
		border: 1px solid $color-gray3;
		border-radius: 100%;
		transition-property: border, background-color;
		transition-duration: $transition-duration;
		transition-timing-function: $transition-easing;

		svg {
			fill: #fff;
			width: 11px;
		}
	}
}

.deliveryWindowSelected {
	border-color: $color-yellow;

	.deliveryWindowLabel {
		color: $color-black;
	}

	.deliveryWindowRadio {
		background-color: $color-yellow;
		border-color: $color-yellow;
	}
}

.datePendingMessage {
	margin-top: 42px;
	width: 100%;
	text-align: center;
	font-size: 22px;
	color: $color-gray3;
}

.submitContainer {
	display: flex;
	justify-content: center;
	width: 1018px;
	border-top: 2px solid $color-gray;
	margin: auto 0 30px;
	padding: 40px 0 36px;
}

.back {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 378px;
	height: 68px;
	background-color: #fff;
	border: 1px solid $color-gray3;
	border-radius: 5px;

	.backLabel {
		color: $color-gray3;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.backIcon {
		width: 19px;
		margin-right: 22px;

		svg {
			fill: $color-gray3;
		}
	}
}

.submit {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 378px;
	height: 68px;
	background-color: $color-yellow;
	border-radius: 5px;
	transition: background-color $transition-duration $transition-easing;

	.submitLabel {
		color: #fff;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.submitIcon {
		width: 19px;
		margin-left: 22px;

		svg {
			fill: #fff;
		}
	}

	&:disabled {
		background-color: $color-gray3;
	}
}
