@import '../../styles/variables';
@import '../../styles/animations';

.container {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $color-gray;
	padding-top: 92px;
	width: 100%;
	overflow: hidden;
}

.categorySlider {
	display: flex;
	justify-content: center;
	width: 100%;
	max-height: 890px;
	transition: transform $transition-duration $transition-easing;
}

.categorySliderPager {
	justify-content: flex-start;
	padding: 0 105px;

	.categoryLink {
		min-width: 470px;
		min-height: 826px;
	}
}

.categoryLink {
	display: flex;
	margin: 0 9px;

	@for $i from 1 through 6 {
		&:nth-child(#{$i}) {
			opacity: 0;
			animation-name: fadeInUp;
			animation-duration: .5s;
			animation-timing-function: $transition-easing;
			animation-fill-mode: forwards;
			animation-delay: 0.05s * $i;
		}
	}
}

.categorySliderControls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}

.listPageControl {
	width: 88px;
	height: 88px;
	border-radius: 100%;
	background-color: $color-black;
	transition: opacity $transition-duration;
	opacity: .8;

	&:disabled {
		opacity: .3;
	}

	.listPageControlIcon {
		width: 18px;
		margin: auto;

		svg {
			fill: #fff;
		}
	}
}

.sliderPager {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 1010px;
	height: 6px;
	margin: 0 165px;
	border-radius: 10px;
	overflow: hidden;
	background-color: $color-gray2;
	transition: margin $transition-duration $transition-easing;

	.sliderPagerThumb {
		position: absolute;
		top: 0;
		height: 100%;
		background-color: $color-yellow;
		transition: left $transition-duration $easing-easeOutQuart;
	}
}
