@import '../../../../styles/variables';

.sidebar {
	position: relative;
	z-index: 2;
	width: 116px;
	background-color: $color-blue;

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 124px;

		.logoIcon {
			width: 55px;
			fill: #f9b730;
		}
	}

	.nav {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-top: 1px solid $color-blue2;
		border-bottom: 1px solid $color-blue2;
		padding: 23px 0;

		button {
			margin: 9px 0;
			height: 86px;
			width: 86px;
			border-radius: 100%;
			background-color: $color-blue2;
			transition: background $transition-duration, color $transition-duration;

			svg {
				fill: #fff;
			}
		}

		.activeButton {
			button {
				background-color: $color-black;

				svg {
					fill: $color-yellow;
				}
			}
		}

		.cartButton {
			position: relative;

			.cartItemsLength {
				position: absolute;
				top: 4px;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 32px;
				background-color: $color-yellow;
				color: $color-black;
				z-index: 1;
				border-radius: 100%;
				font-size: 17px;
				font-weight: 700;
			}
		}

		.locationButton {
			width: 55px;
			height: 55px;
			margin-top: auto;

			svg {
				fill: $color-green;
			}
		}
	}

	.goback {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 180px;
		padding-top: 24px;

		.goBackButton {
			height: 87px;
			width: 87px;
			border: 2px solid #fff;
			border-radius: 100%;
			background-color: $color-blue;

			svg {
				fill: #fff;
			}
		}

		.goBackLabel {
			font-size: 16px;
			font-weight: 700;
			line-height: 1;
			color: #fff;
			letter-spacing: 0.05em;
			margin-top: 12px;
		}
	}
}
