@import '../../../styles/variables';

.container {
	position: relative;
	display: flex;
	width: 510px;
	height: 300px;
	background-color: #fff;
	padding: 15px 13px;

	.discount {
		position: absolute;
		top: -12px;
		left: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 68px;
		height: 36px;
		background-color: $color-red;
		border-radius: 5px;
		font-size: 17px;
		font-weight: 800;
		letter-spacing: 1px;
		color: #fff;
	}

	.image {
		width: 270px;
		height: 270px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.info {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 14px 4px 10px 17px;

		.brand {
			font-size: 15px;
			color: $color-black;
			letter-spacing: 1px;
			line-height: 1;
		}

		.name {
			font-size: 19px;
			font-weight: 800;
			color: $color-black;
			line-height: 26px;
			margin-top: 6px;
		}

		.divider {
			height: 1px;
			margin-top: 15px;
			background-color: $color-gray;
		}

		.prices {
			margin-top: 15px;

			.list-price {
				font-size: 17px;
				color: $color-gray3;
				line-height: 1;
				text-decoration: line-through;
			}

			.price {
				font-size: 32px;
				color: $color-blue;
				line-height: 1;
				font-weight: 700;
				margin-top: 10px;
			}
		}

		.compare {
			margin-top: auto;
			height: 25px;
			background-color: $color-gray2;
			font-size: 11px;
			color: #808080;
			letter-spacing: .2em;
		}
	}
}
