@import '../../styles/variables';

.container {
	flex: 1;
	display: flex;
	flex-direction: column;

	.inputContainer {
		display: flex;
		flex-shrink: 0;
		align-items: flex-end;
		justify-content: center;
		height: 50%;
		padding-bottom: 70px;
		background-color: #fff;
		transition: height $transition-duration, padding $transition-duration;

		.input {
			width: 1038px;
			padding-bottom: 42px;
			border-bottom: 2px solid $color-gray3;
			transition: border $transition-duration, padding $transition-duration;
		}
	}

	.productsContainer {
		flex: 1;
		padding: 68px 0 56px;
		background-color: $color-gray;

		.productList {
			padding: 0 100px;
			transition: height 1000ms $easing-easeOutQuart;
		}

		.productListHalf {
			height: 50%;
		}

		.productListFull {
			height: 100%;
		}
	}
}

.activeSearchContainer {
	.inputContainer {
		height: 124px;
		padding-bottom: 0;

		.input {
			border-color: $color-black;
			padding-bottom: 27px;
		}
	}
}
